.progress-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 30px 0 10px 0; /* Increased top margin for counters */
    position: relative
}

.ga-button,.progress-bar {
    background-color: #1E3A8A;
    border-radius: 8px
}

.progress-bar {
    width: 0%;
    height: 15px;
    transition: width .1s linear
}

.counter-left,.counter-right {
    position: absolute;
    top: -25px;
    font-weight: 700;
    color: #2F6BB2
}

.counter-left {
    left: 0
}

.counter-right {
    right: 0
}

.wait-text {
    text-align: center;
    color: #666;
    margin-top: 10px;
    font-size: 14px
}

.ga-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    font-weight: 700;
    transition: background-color .3s
}

.ga-button:hover {
    background-color: #2F6BB2;
    color: #fff
}

.ga-svg-icon-wrap {
    margin-right: 8px
}

.ga-svg-icon-wrap svg {
    width: 20px;
    height: 20px
}
